.main {
    text-align: center;
   justify-content: center; 
   display: flex; 
   padding-top: 90px;
   padding-bottom: 90px;
   background-color: #ffffff;
 }  
 .sub-main {
   justify-content:center; 
   height: 550px;
   width: 35%;
   box-shadow: 11px 12px 13px 12px rgb(183, 182, 214);
   padding-top: 30px;
   border-radius: 60px;                   
   background-color: rgb(255, 255, 255);
     display: block;
   margin-left:60%;
   opacity: 0.5;
 }
 .sub-main:hover{
   opacity:1.0;
 }
 .main1 {
   display: block;
   justify-content:center;
   height: 650px;
   width: 35%;
   padding-top: 30px;
   border-radius: 60px; 
   background-color: rgb(255, 255, 255);
   margin-left:17%;
  
 }


 .imgs {
     padding-top: 20px;
     justify-content: center;
     display: flex;
   }
 .container-image {
   background-color: rgb(255, 255, 255); 
   border-radius: 150px;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 115px;
   width: 115px;
 }
 .profile {
   height: 100px;
   width: 100px;
   border-radius: 130px;
 }    
 .input {
     width: 300px;
     height: 50px;
     border-radius: 60px;
     box-shadow: inset 0px 0px 25px 0px #888;
     border: none;
     outline: none;
     background-color: #fff;
 }

 .email{
     height: 25px;
     width: 25px;
     position: absolute;
     padding: 14px 0 0 25px;
 }
 

 .name{
     padding-left: 70px;
     font-size: 20px;
 }
 .second-input{
     padding-top: 20px;
 }

 .button{
     width: 380px;
     height: 50px;
     border-radius: 60px;
     background-color: #403644;
     color: white;
     font-size: 25px;
     border: none;
 }
 .login-button{
     padding-top: 25px;
 }
 .hig{
  color: grey;
  
  font-size: 20px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
 }
 .hig1{
  color: grey;
  font-size: 20px;
  margin-left: 2%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
} 
 .tab{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  align-items: center;
 }
 .maintable{
  text-align: center;
  justify-content: center; 
  display: flex;
  background-color: #ffffff;
 }
 .alignment{
  display:flex;
  flex-direction:row;
 }
 .alignment input{
  width:5%;
  margin-left:35%;
 }
 